<html xmlns="http://www.w3.org/1999/xhtml">
        <head>
                <meta name="keywords" content="" />
                <meta name="description" content="" />
                <meta http-equiv="content-type" content="text/html; charset=utf-8" />
                <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
                <link href="/static/style.css" rel="stylesheet" type="text/css" media="screen" />
                {% block title %}{% endblock %}
        </head>
        <body>
                <div id="wrapper">
                        <div id="header-wrapper" class="container">
                                <div id="header" class="container">
                                        <div id="logo">
                                                <h1><a href="/index/">MyBlog</a></h1>
                                        </div>
                                        <div id="menu">
                                                <ul>
                                                        {% if request.user.is_authenticated %}
                                                        <li><a href="/index/{{ request.user.username }}">Home::{{ request.user.username }}</a></li>
                                                        <li><a href="/post/">Compose</a></li>
                                                        <li><a href="/accounts/logout/">Logout</a></li>
                                                        <li><a href="/users/settings/">Settings</a></li>
                                                        {% else %}
                                                        <li><a href="/accounts/login/">Login</a></li>
                                                        <li><a href="/accounts/register/">Signup</a></li>
                                                        {% endif %}
                                                </ul>
                                        </div>
                                </div>
                                <div><img src="/static/images/img03.png" width="1000" height="40" alt="" /></div>
                        </div>
                        <!-- end #header -->
                        <div id="page">
                                <div id="content">
                                        {% block content %} {% endblock %}
                                        <!-- See index.html for more info -->
                                        <div style="clear: both;">&nbsp;</div>
                                </div>
                                <!-- end #content -->
                                <div id="sidebar">
                                        <ul>
                                                <li>
                                                <div id="search" >
                                                        <form method="get" action="#">
                                                                <div>
                                                                        <input type="text" name="s" id="search-text" value="" />
                                                                        <input type="submit" id="search-submit" value="GO" />
                                                                </div>
                                                        </form>
                                                </div>
                                                <div style="clear: both;">&nbsp;</div>
                                                </li>
                                                {% block sidebar %}
                                                {% for cat, links in sidebar.links.items %}

                                                <li>
                                                <h2>{{ cat }}</h2>
                                                <ul>
                                                        {% for link in links %}
                                                        <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                                                        {% endfor %}
                                                </ul>
                                                </li>
                                                {% endfor %} {% endblock %}
                                        </ul>
                                </div>
                                <!-- end #sidebar -->
                                <div style="clear: both;">&nbsp;</div>
                        </div>
                        <div class="container"><img src="/static/images/img03.png" width="1000" height="40" alt="" /></div>
                        <!-- end #page -->
                </div>
                <div id="footer-content"></div>
                <div id="footer">
                        <p>Copyright (c) 2012 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org">FCT</a>.</p>
                </div>
                <!-- end #footer -->
        </body>
</html>
