{% extends "base.html" %}

{% block content %}
{% if posts %}
<div id="content">
        {% for post in posts %}
        <div class="post">
                <h2 class="title"><a href="/view/{{ post.id }}/">{{ post.subject }}</a></h2>
                <p class="meta">
                <span class="date">{{ post.posted_at }}</span>
                <span class="posted">Posted by <a href="/{{ post.user.username }}/">{{ post.user.username }}</a>
                        </span>
                </p>
                <div style="clear: both;">&nbsp;</div>
                <div class="entry">{{ post.post }}
                        <p class="links">
                        <a href="/view/{{ post.id }}/" class="more">Read More</a>
                </div>
        </div>
        {% endfor %}
        {% if paging %}
        <u><a href="{{ request.path }}?p={{ paging.first }}">&lt;&lt;</a></u>
        <u><a href="{{ request.path }}?p={{ paging.prev }}">&lt;</a></u>
        <u><a href="{{ request.path }}?p={{ paging.next }}">&gt;</a></u>
        <u><a href="{{ request.path }}?p={{ paging.last }}">&gt;&gt;</a></u>
        {% endif %}
</div>
{% else %}
No posts found
{% endif %}
{% endblock %}
